{% load static %}
<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
  <meta charset="UTF-8">
  <title>صفحه استخدام</title>
  <link rel="stylesheet" href="{% static 'css/Employers (2).css' %}">
  <link href="https://cdn.fontcdn.ir/Font/Persian/Vazir/Vazir.css" rel="stylesheet">
</head>

<body>

  <!-- سربرگ -->
    <div class="navbar">
    <div class="profile-circle"></div>

      <a href="#" class="menu-item">خروج از حساب</a>
    <a href="#" class="menu-item">رزومه من</a>
    <a href="#" class="menu-item">اخبار استخدامی</a>
    <a href="#" class="menu-item">شرکت‌های خصوصی</a>
    <a href="#" class="menu-item">شرکت‌های دولتی</a>

      <img src="{% static 'employ/Vector.svg' %}" alt="" class="notification">

  </div>
  
 

  <!-- دسته‌بندی -->
 

  <!-- آواتارها -->
  

  <!-- کارآموزی -->
  <div class="internship-section">
<div class="pos">
   <h4 >عنوان شغلی: حسابدار</h4>
  <h4>وضعیت: <em style="color: darkgreen;">فعال</em> </h4>
   <h4>منتشر شده در: 1403/2/20</h4>
</div>
<div class="poss">
<h4 style="color: red;text-align: left;">غیر فعال کردن</h4>
<div class="display">
<p style="color: green;">فیلتر</p>
<img style="width: 40%;" src="{% static 'employ/Vector3.svg' %}" alt="">
</div>
</div>
<div class="card" style="position: relative;">
  <div class="card-content">
    <div class="card-title">مهندس نرم‌افزار</div>
    <div class="card-meta">شرکت برق آرمان - خصوصی</div>
  </div>
  <div class="card-action">ارسال رزومه</div>
  <img class="man"  src="{% static 'employ/Group.svg' %}" alt="logo">
 <img  style="position: absolute;top: 0;left: 0;margin-top:-20px;width:4rem;margin-left:-5px;"  src="{% static 'employ/Frame.svg' %}" alt="">
</div>
    <div class="card" style="position: relative;">
      <div class="card-content">
        <div class="card-title">مهندس نرم‌افزار</div>
        <div class="card-meta">شرکت برق آرمان - خصوصی</div>
      </div>
      <div class="card-action">ارسال رزومه</div>
      <img class="man"  src="{% static 'employ/Group.svg' %}" alt="logo">
     <img  style="position: absolute;top: 0;left: 0;margin-top:-20px;width:4rem;margin-left:-5px;"  src="{% static 'employ/Frame.svg' %}" alt="">
    </div>
    <div class="card" style="position: relative;">
      <div class="card-content">
        <div class="card-title">مهندس نرم‌افزار</div>
        <div class="card-meta">شرکت برق آرمان - خصوصی</div>
      </div>
      <div class="card-action">ارسال رزومه</div>
      <img class="man"  src="{% static 'employ/Group.svg' %}" alt="logo">
     <img  style="position: absolute;top: 0;left: 0;margin-top:-20px;width:4rem;margin-left:-5px;"  src="{% static 'employ/Group.svg' %}" alt="">
    </div>
    
    <div class="button-container">
    <div class="see-more">مشاهده بیشتر</div>
    <img src="{% static 'employ/Vector.svg' %}" alt="" width="20%">
</div>
  </div>

  <hr style="width: 50%; height: 2px;color: aliceblue; background-color: aliceblue;">
 <!-- استخدام-->
 <div class="internship-section">
  <div class="pos">
     <h4 >عنوان شغلی: حسابدار</h4>
    <h4>وضعیت: <em style="color: darkgreen;">فعال</em> <h4>
     <h4>منتشر شده در: 1403/2/20</h4>
  </div>
  <div class="poss">
  <h4 style="color: red;text-align: left;">غیر فعال کردن</h4>
  <div class="display">
  <p style="color: green;">فیلتر</p>
  <img style="width: 40%;" src="{% static 'employ/Vector3.svg' %}" alt="">
  </div>
  </div>
  <div class="card" style="position: relative;">
    <div class="card-content">
      <div class="card-title">مهندس نرم‌افزار</div>
      <div class="card-meta">شرکت برق آرمان - خصوصی</div>
    </div>
    <div class="card-action">ارسال رزومه</div>
    <img class="man"  src="{% static 'employ/Group.svg' %}" alt="logo">
   <img  style="position: absolute;top: 0;left: 0;margin-top:-20px;width:4rem;margin-left:-5px;"  src="{% static 'employ/Frame.svg' %}" alt="">
  </div>
      <div class="card" style="position: relative;">
        <div class="card-content">
          <div class="card-title">مهندس نرم‌افزار</div>
          <div class="card-meta">شرکت برق آرمان - خصوصی</div>
        </div>
        <div class="card-action">ارسال رزومه</div>
        <img class="man"  src="{% static 'employ/Group.svg' %}" alt="logo">
       <img  style="position: absolute;top: 0;left: 0;margin-top:-20px;width:4rem;margin-left:-5px;"  src="{% static 'employ/Frame.svg' %}" alt="">
      </div>
      <div class="card" style="position: relative;">
        <div class="card-content">
          <div class="card-title">مهندس نرم‌افزار</div>
          <div class="card-meta">شرکت برق آرمان - خصوصی</div>
        </div>
        <div class="card-action">ارسال رزومه</div>
        <img class="man"  src="{% static 'employ/Group.svg' %}" alt="logo">
       <img  style="position: absolute;top: 0;left: 0;margin-top:-20px;width:4rem;margin-left:-5px;"  src="{% static 'employ/Frame.svg' %}" alt="">
      </div>
      
      <div class="button-container">
      <div class="see-more">مشاهده بیشتر</div>
      <img src="{% static 'employ/Vector.svg' %}" alt="" width="20%">
  </div>
    </div>
  


    <hr style="width: 50%; height: 2px;color: aliceblue; background-color: aliceblue;">
    <div style="display: flex;align-items: center; justify-content: flex-end; ">
<div class="ad-creation-box">
  <h2 class="title">ایجاد آگهی</h2>
  <p class="description">آگهی های خود را به ما بسپارید</p>
</div>
<img  style="width: 30%;padding: 70px;"src="{% static 'employ/image 3.svg' %}">
</div>


<hr style="width: 50%; height: 2px;color: aliceblue; background-color: aliceblue;">

<!-- وضعیت رزومه -->
<div class="resume-status-container">
  <!-- ستونی از کارت‌های رزومه -->
  <div class="resume-column">
    <h2>وضعیت رزومه</h2>

    <!-- کارت 1 -->
    <div class="resume-card blue">
      <div class="card-header">
        <p>حسابدار</p>
        <img  src="{% static 'employ/Frame.svg' %}" alt="avatar">
      </div>
      <div class="meta-info">
        <p>ارسال شده برای شرکت برق</p>
        <p class="date">03/03/21</p>
      </div>
      <div class="card-actions">
        <button class="edit">
          <img src="{% static 'employ/virayesh.svg' %}" class="icon">ویرایش رزومه
        </button>
        <button class="status">
          تعیین وضعیت نشده
        </button>
        <button class="delete">
          <img src="{% static 'employ/delete.svg' %}" class="icon">حذف رزومه
        </button>
      </div>
    </div>

    <!-- کارت 2 -->
    <div class="resume-card green">
      <div class="card-header">
        <p>حسابدار</p>
        <img src="{% static 'employ/Frame1.svg' %}" alt="avatar">
      </div>
      <div class="meta-info">
        <p>ارسال شده برای شرکت برق</p>
        <p class="date">03/03/21</p>
      </div>
      <div class="card-actions">
        <button class="edit">
          <img src="{% static 'employ/virayesh.svg' %}" class="icon">ویرایش رزومه
        </button>
        <button class="status">
          قبول شده
        </button>
        <button class="delete">
          <img src="{% static 'employ/delete.svg' %}
      </div>
    </div>

    <!-- کارت 3 -->
    <div class="resume-card red">
      <div class="card-header">
        <p>حسابدار</p>
        <img src="{% static 'employ/Frame1.svg' %}" alt="avatar">
      </div>
      <div class="meta-info">
        <p>ارسال شده برای شرکت برق</p>
        <p class="date">03/03/21</p>
      </div>
      <div class="card-actions">
        <button class="edit">
          <img src="{% static 'employ/virayesh.svg' %}" class="icon">ویرایش رزومه
        </button>
        <button class="status">
          رد صلاحیت
        </button>
        <button class="delete">
          <img src="{% static 'employ/delete.svg' %}" class="icon">حذف رزومه
        </button>
      </div>
    </div>
  </div>

  <!-- نوار کناری -->    
  <div class="tree">
    <div class="progress-sidebar">
      <div class="progress-circle">50%</div>
      <p>پیشرفت در تکمیل رزومه</p>
      <div class="progress-bar-container">
        <div class="progress-bar" style="width: 50%;"></div>
      </div>
      <p>پروفایل تخصصی خود را تکمیل کنید و مهارت و تجربه‌تان را به شرکت‌ها نشان دهید.</p>

      <ul class="tips">
        <li>افزودن سوابق تحصیلی</li>
        <li>درج سوابق شغلی</li>
        <li>مهارت‌های نرم‌افزاری</li>
      </ul>

      <button class="cta">ورود به رزومه‌ساز</button>
    </div>
  </div>
  <div class="resume-img">
 <!--<img src="{% static 'employ/رزومه.png' %}" alt="رزومه"> -->
  </div>
</div>

</body>
</html>