{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/main2.css' %}">
    <link rel="stylesheet" href="{% static 'css/main-styleguide.css' %}">
    <link rel="stylesheet" href="{% static 'css/main-globals.css' %}">
</head>
<body>
     <div class="frame">
      <div class="overlap-group">
        
        <div class="div">
          <div class="div-2">
            <a href="{% url 'register' %}">
          <button class="reg">ثبت نام</button>
            </a>
            <img class="line" src="{% static 'new_image/Line 1.svg' %}" />
            <a href="/login/">
            <button class="log">ورود</button>
          </a>

          </div>
          <img class="img" src="" />
          <div class="navbar">
            <a href="#"  class="text-wrapper">دوره های آموزشی</a>
            <img class="line-2" src="{% static 'new_image/Line 1.svg' %}"/>
            <a href="#"  class="text-wrapper">ایده های برتر</a>
            <img class="line-2" src="{% static 'new_image/Line 1.svg' %}"/>
            <a href="{% url 'intership' %}">
          <button class="reg"> کارآموزی</button>
            </a>
            <img class="line-2" src="{% static 'new_image/Line 1.svg' %}" />
            <a href="{% url 'employer' %}"><button class="emp">استخدام و ارسال رزومه</button></a>
          </div>
        </div>
       
  <img src="{% static 'new_image/IMG_3603-new.PNG' %}" class="ellipse"></img>
    </div>



<div class="frame2">
      <div class="div2">
        <div class="div-22"></div>
        <div class="frame-default2">
          <div class="overlap-group2">
            <img class="ellipse2" src="{% static 'new_image/Ellipse 3.svg' %}"/>
            <img class="img2" src="{% static 'new_image/Ellipse 2.svg' %}" />
         <img class="ic-baseline-circle2" src="{% static 'new_image/medal.svg' %}" />
          </div>
        </div>
        <div class="frame-default-22">
          <div class="overlap2">
            <img class="ellipse-22" src="{% static 'new_image/Ellipse 3.svg' %}" />
            <img class="ellipse-32" src="{% static 'new_image/Ellipse 2.svg' %}" />
            <div class="ic-baseline-campaign-wrapper2">
              <img class="ic-baseline-campaign2" src="{% static 'new_image/pages_.svg' %}" />
            </div>
          </div>
          <div class="overlap-group-wrapper2">
            <div class="overlap-group-22">
              <img class="ellipse-22" src="{% static 'new_image/Ellipse 3.svg' %}" />
              <img class="ellipse-32" src="{% static 'new_image/Ellipse 2.svg' %}" />
               <div class="flowbite-user2"><img class="group" src="{% static 'new_image/medal.svg' %}" /></div>
            </div>
          </div>
        </div>
        <div class="frame-default-32">
          <div class="overlap2">
            <img class="ellipse-22" src="{% static 'new_image/Ellipse 3.svg' %}" />
            <img class="ellipse-32" src="{% static 'new_image/Ellipse 2.svg' %}" />
            <img class="icon-running2" src="{% static 'new_image/learn.svg' %}" />
          </div>
          <div class="frame-default-42">
            <div class="overlap2">
              <img class="ellipse-22" src="{% static 'new_image/Ellipse 3.svg' %}" />
              <img class="ellipse-32" src="{% static 'new_image/Ellipse 2.svg' %}" />
              <img class="icon-multiple-pages2" src="{% static 'new_image/zang.svg' %}" />
            </div>
            <div class="frame-default-52">
              <div class="overlap-group-22">
                <img class="ellipse-22" src="{% static 'new_image/Ellipse 3.svg' %}" />
                <img class="ellipse-32" src="{% static 'new_image/Ellipse 2.svg' %}" />
                <img class="icon-medal2" src="{% static 'new_image/medal.svg' %}" />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="navbar2">
        <div class="text-wrapper-22">آموزش و پرورش</div>
        <div class="text-wrapper-32">اخبار استخدامی</div>
        <div class="text-wrapper-42">استخدام فوری</div>
        <div class="text-wrapper-52">بهترین شرکت ها</div>
        <div class="text-wrapper-62">اطلاع رسانی شغلی</div>
      </div>
    </div>



    <div class="frame3">
          <div class="overlap3">
            <div class="overlap-wrapper3">
              <div class="overlap-group3">
                <div class="overlap-group-wrapper3">
                  <div class="div3">
                    <p class="text-wrapper3">
                      مهارت های مورد نیاز شرکت ها رو زیر نظر اونها یاد میگیری!<br />به همراه مدرک اختصاصی <br />ساخت رزومه
                      هم یادت میدم!<br />اماده ای؟؟
                    </p>
                    <div class="div-23">
                      <img class="ellipse3" src="{% static 'new_image/خط.svg' %}" />
                      <img class="bolt3" src="{% static 'new_image/tik.svg' %}" />
                      <img class="bolt-dp-eee3" src="{% static 'new_image/tik.svg' %}" />
                      <img class="img3" src="{% static 'new_image/tik.svg' %}" />
                      <img class="bolt-23" src="{% static 'new_image/tik.svg' %}" />
                      <div class="overlap-group-23">
                        <div   class="text-wrapper-23">همین حالا شروع کن</div>
                        <img class="vector3" src="{% static 'new_image/hand.svg' %}" />
                        <img class="svg-spinners-blocks3" src="{% static 'new_image/svg-spinners--blocks-shuffle-3' %}" />
                      </div>
                    </div>
                  </div>
                </div>
                <img class="vector-23" src="{% static 'new_image/خط.svg' %}" />
              </div>
            </div>
            <div class="https-lottiefiles3"><img class="clip-path-group" src="{% static 'new_image/karr.svg' %}" /></div>
          </div>
        </div>



<div class="frame4">
      <div class="overlap-wrapper4">
        <div class="overlap4">
          <img class="line4" src="{% static 'new_image/zarebin.svg' %}" />
          <div class="div4">
            <div class="div-24">
              <div class="overlap-group4">
                <div class="div-34">
                  <div class="overlap-34">
                    <div class="element-24">حسابدار</div>
                    <div class="div-wrapper-34"><p class="p4">شرکت دیده بانت | کرمان</p></div>
                    <div class="div-64">
                      <div class="text-wrapper-54">خصوصی</div>
                      <img class="star4" src="{% static 'new_image/star.svg' %}" />
                    </div>
                  </div>
                  <div class="div-wrapper-44"><div class="text-wrapper-34">ارسال رزومه</div></div>
                  <img class="img4" src="{% static 'new_image/aks.svg' %}" />
                </div>
                <div class="overlap-group-wrapper4">
                  <div class="overlap-24">
                    <div class="text-wrapper-44">مشاهده بیشتر</div>
                    <img class="vector4" src="{% static 'new_image/flash3.svg' %}" />
                  </div>
                </div>
              </div>
              <div class="div-54">
                <div class="overlap-34">
                  <div class="element-24">حسابدار</div>
                  <div class="div-wrapper-34"><p class="p4">شرکت دیده بانت | کرمان</p></div>
                  <div class="div-64">
                    <div class="text-wrapper-54">خصوصی</div>
                    <img class="star4" src="{% static 'new_image/star.svg' %}" />
                  </div>
                </div>
                <div class="div-wrapper-44"><div class="text-wrapper-34">ارسال رزومه</div></div>
                <img class="img4" src="{% static 'new_image/aks.svg' %}" />
              </div>
              <div class="div-74">
                <div class="overlap-34">
                  <div class="element-24">حسابدار</div>
                  <div class="div-wrapper-34"><p class="p4">شرکت دیده بانت | کرمان</p></div>
                  <div class="div-64">
                    <div class="text-wrapper-54">خصوصی</div>
                    <img class="star4" src="{% static 'new_image/star.svg' %}" />
                  </div>
                </div>
                <div class="div-wrapper-44"><div class="text-wrapper-34">ارسال رزومه</div></div>
                <img class="img4" src="{% static 'new_image/aks.svg' %}" />



              </div>
            </div>
            <div class="div-wrapper-84"><div class="text-wrapper-84">استخدام و کارآموزی</div></div>
            <div class="div-84">
              <div class="div-94">
                <div class="text-wrapper-94">کدوم حوزه؟</div>
                <div class="search4"><img class="vector-34" src="{% static 'new_image/zarebin.svg' %}" /></div>
              </div>
              <div class="div-wrapper-94"><div class="text-wrapper-104">c++</div></div>
              <div class="div-wrapper-104"><div class="text-wrapper-104">c++</div></div>
              <img class="chevron-right4" src="{% static 'new_image/flash.svg' %}" />
              <div class="div-wrapper-114"><div class="text-wrapper-104">c++</div></div>
              <div class="div-wrapper-124"><div class="text-wrapper-104">c++</div></div>
              <img class="vector-44" src="{% static 'new_image/flash1.svg' %}" />
            </div>
          </div>
        </div>
      </div>
    </div>

<div class="frame5">
      <img class="ellipse5" src="{% static 'new_image/svg-spinners--blocks-shuffle-3.svg' %}" />
      <div class="overlap-group5">
        <img class="bolt5" src="{% static 'new_image/tik.svg' %}" />
        <img class="bolt-dp-eee5" src="{% static 'new_image/Ellipse 3.svg' %}" />
        <img class="img5" src="{% static 'new_image/Ellipse 3.svg' %}"/>
        <img class="bolt-25" src="{% static 'new_image/Ellipse 3.svg' %}" />
        <div class="text-wrapper5">همین حالا شروع کن</div>
        <img class="vector5" src="{% static 'new_image/hand.svg' %}" />
        <img class="svg-spinners-blocks5" src="{% static 'new_image/svg-spinners--blocks-shuffle-3' %}" />
        <div class="https-lottiefiles5"></div>
        <div class="clip-path-group-wrapper5"><img class="clip-path-group5" src="{% static 'new_image/phone2.svg' %}" /></div>
        <p class="div5">حرفه ی مورد علاقه ی خودتو پیدا کن!</p>
        <p class="p5">
          از تجربیات مصاحبه ی سایر کارجویان استفاده کن<br />
          و نقاط ضعفت رو به خوبی بر طرف کن
        </p>
        <p class="text-wrapper-25">
          کمکت میکنیم تا رشته ی مورد علاقتو پیدا کنی<br />
          و در مسیر موفقیت به خوبی حرکت کنی!
        </p>
        <img class="vector-25" src="{% static 'new_image/خط.svg' %}" />
        <div class="text-wrapper-35">آماده ای؟؟</div>
      </div>
    </div>


 <div class="frame6">
      <div class="div6">
        <div class="overlap-group6">
          <div class="text-wrapper6">همین حالا وقتشه...</div>
          <p class="p6">
          
              ایده های کارآفرینیت رو با ما به اشتراک بزار
              و بهترین ایده تو به شرکت ها بفروش<br>
          
          </p>
        </div>
        <div class="text-wrapper-36">همین حالا کلیک کن</div>
        <img class="lalezar-kerman6" src="{% static 'new_image/eart.svg' %}" />
      </div>
      <div class="div-26">
        <img class="img6" src="{% static 'new_image/eart.svg' %}" />
        <div class="div-36">
          <p class="text-wrapper-46">
            از الان یادگیری آموزش مورد علاقه ات رو شروع کن
            و از چیزی که دوست داری کسب درآمد کن
          </p>
          <p class="text-wrapper-56">اگه تا الان به هر دلیلی نتونستی دنبال مهارت مورد علاقت بری...</p>
          <div class="text-wrapper-66">همین حالا کلیک کن</div>
        </div>
      </div>
      <div class="div-46">
        <div class="text-wrapper-76">همین حالا کلیک کن</div>
        <img class="lalezar-kerman-26" src="{% static 'new_image/lalezar-kerman-10-1-3.svg' %}" />
        <p class="text-wrapper-86">
          اگه دنبال کار میگردی و کارت درسته با ارسال رزومه ی کاری برای ما در بهترین شرکت ها استخدام شو
        </p>
        <p class="div-56">
      
        
          <span class="span6"
            >    ایده های کارآفرینیت رو باما به اشتراک بزار   <br />
            و بهترین ایده تو به شرکت ها بفروش</span
          >
        </p>
      </div>
      <div class="div-66">
        <div class="text-wrapper-96">همین حالا کلیک کن</div>
        <img class="lalezar-kerman-36" src="{% static 'new_image/lalezar-kerman-10-1.svg' %}" />
        <p class="text-wrapper-106">
          اگه به هر دلیلی تا حالا نتونستی برای خودت رزومه یا تجربه ی کاری خوبی رو جمع آوری کنی یا دنبال یادگیری بیش تر
          به همراه کار عملی هستی...
        </p>
        <p class="text-wrapper-116">
          از الان کارآموزی حرفه ی مورد علاقه ات رو&nbsp;&nbsp;شروع کن <br />و برای خودت یک رزومه ی عالی با مهارت بالا
          جمع آوری کن
        </p>
      </div>
      <img class="undraw-designer-efwz6" src="{% static 'new_image/boy.svg' %}" />
      <img class="group6" src="{% static 'new_image/phone.svg' %}" />
      <img class="undraw-space6" src="{% static 'new_image/eart.svg' %}" />
      <img class="group-26" src="{% static 'new_image/girl.svg' %}" />
    </div>

<div class="frame7">
      <div class="div7">
        <div class="div-27">
          <div class="text-wrapper7">تجربیات مصاحبه ی کارجویان</div>
          <p class="p7">اینجا میتونی از تجربیات سایر کارجویان در مصاحبه<br />استفاده کنی</p>
          <img class="undraw-interview7" src="{% static 'new_image/one.svg' %}" />
        </div>
        <div class="div-37">
          <p class="text-wrapper-27">حرفه ی مورد علاقه ی خودتو پیدا کن</p>
          <div class="overlap-group7">
            <p class="text-wrapper-37">
              اینجا میتونی با حرفه های مورد علاقه و مرتبط <br />با رشته ی تحصیلی خودت اشنا بشی
            </p>
            <img class="group7" src="{% static 'new_image/two.svg' %}" />
          </div>
        </div>
        <div class="div-47">
          <div class="text-wrapper-47">راهنمای انتخاب رشته</div>
          <div class="overlap7">
            <p class="text-wrapper-57">
              با توجه به رشته ی تحصیلیت <br />میتونی شغل های مرتبط<br />به هم رو پیدا کنی و از همین الان<br />
              برای آیندت تلاش کنی
            </p>
            <img class="undraw-accept-tasks7" src="{% static 'new_image/tree.svg' %}" />
          </div>
        </div>
        <div class="div-57">
          <div class="text-wrapper-67">تقویم استخدام سراسری</div>
          <p class="text-wrapper-77">اطلاع از تاریخ های مهم شرکت های دولتی و سراسری</p>
          <img class="undraw-schedule7" src="{% static 'new_image/for.svg' %}" />
        </div>
      </div>
    </div>


<div class="frame8">
      <div class="div8">
        <div class="div-wrapper8"><div class="text-wrapper8">34</div></div>
        <div class="text-wrapper-28">تعداد کارآموزان تا الان</div>
      </div>
   
      <div class="frame-wrapper8">
        <div class="div-28">
          <p class="p8">تعداد ایده های داده شده تا الان</p>
          <div class="text-wrapper-38">34</div>

        </div>
       
      </div>
      <div class="frame-wrapper-28">
        <div class="div-38">
          <div class="text-wrapper-48">تعداد کارجویان تا الان</div>
          <div class="text-wrapper-58">34</div>
        
        </div>
      </div>
   
      <div class="frame-wrapper-38">
        <div class="div-48">
          <p class="text-wrapper-68">ساعت آموزش های دیده شده تا الان</p>
          <div class="text-wrapper-78">34</div>
        </div>
      </div>
    </div>
    

    <section class="faq-section">
      <div class="faq-container">
        <!-- <div class="faq-icon">؟</div> -->
        <div class="faq-content">
          <h2>سوالات متداول</h2>
          
          <div class="faq-card">
            <details>
              <summary>شرایط استفاده از تخفیف چگونه است؟</summary>
              <p>هر کد تخفیف فقط یک بار قابل استفاده می‌باشد.</p>
            </details>
          </div>
    
          <div class="faq-card">
            <details>
              <summary>چطور برنامه امتیاز بگیرم؟</summary>
              <p>با انجام فعالیت‌های خاص امتیاز دریافت می‌کنید.</p>
            </details>
          </div>
    
          <div class="faq-card">
            <details>
              <summary>چگونه می‌توانم با پشتیبانی ارتباط داشته باشم؟</summary>
              <p>از طریق فرم تماس با ما.</p>
            </details>
          </div>
    
          <div class="faq-card">
            <details>
              <summary>بازگشت پول به حسابم به چه صورت است؟</summary>
              <p>در صورت شرایط خاص بازگشت امکان‌پذیر است.</p>
            </details>
          </div>
    
        </div>
        <img  src="{% static 'image/question.svg' %}" >
  
      </div>
    </section>
    <footer class="footer">
      <div class="footer-container">
        <div class="footer-links">
          <a href="#">صفحه اصلی</a>
          <a href="#">درباره ما</a>
          <a href="#">قوانین و مقررات</a>
          <a href="#">تماس با ما</a>
          <a href="#">ارسال بازخورد</a>
        </div>
        <p class="footer-copy">© 2025 تمامی حقوق محفوظ است</p>
      </div>
    </footer>
</body>
</html>