{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="{% static 'css/globals.css' %}" >
    <link rel="stylesheet" href="{% static 'css/styleguide.css' %}" >
    <link rel="stylesheet" href="{% static 'css/karino.css' %}" >
    <meta charset="utf-8" />
  </head>
  <body>
    <div class="macbook-pro">
      <div class="overlap-wrapper">
        <div class="overlap">
          <div class="frame">
            <div class="div">
              <div class="overlap-group-wrapper">
                <div class="overlap-group">
                  <div class="frame-2">
                    <div class="frame-3">
                      <div class="overlap-group-2">
                        <div class="group-wrapper"><img class="group" src="" /></div>
                        <div class="undraw-businesswoman">
                          <div class="clip-path-group-wrapper">
                            <img class="clip-path-group" src="{% static 'sorces/undraw_businesswoman-avatar_ktl2 1.svg' %}" />
                          </div>
                        </div>
                      </div>
                      <div class="text-wrapper">کاربر</div>
                    </div>
                    <div class="overlap-2">
                      <div class="frame-4">
                        <div class="frame-5">
                          <div class="text-wrapper-2">اطلاعات کاربری</div>
                          <img class="mingcute-user-fill" src="{% static 'sorces/mingcute_user-3-fill.svg' %}" />
                        </div>
                        <div class="overlap-3">
                          <div class="div-wrapper"><div class="text-wrapper-3">آموزش های من</div></div>
                          <img class="vector" src="{% static 'sorces/book.svg' %}" />
                        </div>
                        <div class="frame-6">
                          <div class="text-wrapper-4">گواهی نامه ها</div>
                          <img class="img" src="{% static 'sorces/clarity_certificate-solid.svg' %}" />
                        </div>
                        <div class="frame-7">
                          <div class="text-wrapper-00">ثبت نظر</div>
                          <img class="img" src="{% static 'sorces/Group.svg' %}" />
                        </div>
                        <div class="frame-8">
                          <div class="text-wrapper-66">تضمین کیفیت</div>
                          <img class="img3" src="{% static 'sorces/streamline_quality-education-solid.svg' %}" />
                        </div>
                        <div class="overlap-4">
                          <div class="frame-wrapper">
                            <div class="frame-9">
                              <div class="text-wrapper-5">علاقه مندی ها</div>
                              <img class="img" src="{% static 'sorces/f7_square-favorites-fill.svg' %}" />
                            </div>
                          </div>
                          <div class="frame-10">
                            <div class="text-wrapper-00">درخواست پشتیبانی</div>
                            <img class="img" src="{% static 'sorces/ix_support.svg' %}" />
                          </div>
                        </div>
                        <div class="frame-11" id="logoutBtn" style="cursor: pointer;">
                       <a href="{% url 'logout' %}">
                      <button class="logout">خروج از حساب </button>
                           </a>
                        <img class="img4" src="{% static 'sorces/material-symbols_logout-rounded.svg' %}" alt="logout icon" />
                        </div>

                     
                      </div>
                      <div class="frame-12">
                        <div class="text-wrapper-6">موجودی کیف پول</div>
                        <div class="text-wrapper-7">0 تومان</div>
                        <div class="frame-13"><div class="text-wrapper-8">افزایش موجودی</div></div>
                      </div>
                    </div>
                  </div>
                  <img class="line" src="" />
                  <div class="text-wrapper-9">جمعه 8 فروردین 1404</div>
                </div>
              </div>
              <div class="frame-14">
                <img class="vector-2" src="{% static 'sorces/Vector.svg' %}" />
                <div class="frame-15">
                  <div class="frame-16"><p class="p">چه چیزی میخواهید یاد بگیرید؟</p></div>
                  <div class="text-wrapper-10">مسیرهای یادگیری</div>
                </div>
                <div class="text-wrapper-11">دسته بندی ها</div>
                <div class="text-wrapper-12">سبد خرید</div>
              </div>
              <div class="frame-17">
                <p class="text-wrapper-13">جستجو میان دوره های من</p>
                <img class="search" src="{% static 'sorces/search.svg' %}"" />
              </div>
              <div class="frame-18">
                <div class="text-wrapper-14">اموزش Git</div>
                <div class="overlap-5">
                  <div class="frame-19">
                    <div class="text-wrapper-15">مطالعه و یادگیری</div>
                    <img class="regular-circle" src="{% static 'sorces/fa6-regular_circle-play.svg' %}" />
                  </div>
                  <div class="overlap-group-3">
                   <div class="ellipse2"></div>
                   <div class="ellipse"></div>
                    <div class="text-wrapper-16">0%</div>
                  </div>
                </div>
                <img class="rectangle" src="{% static 'sorces/Rectangle 16 (1).svg' %}" />
              </div>
              <div class="frame-20">
                <div class="text-wrapper-14">اموزش Git</div>
                <div class="overlap-5">
                  <div class="frame-19">
                    <div class="text-wrapper-15">مطالعه و یادگیری</div>
                    <img class="regular-circle" src="{% static 'sorces/fa6-regular_circle-play.svg' %}" />
                  </div>
                  <div class="overlap-group-3">
                    <div class="ellipse2"></div>
                    <div class="ellipse"></div>
                    <div class="text-wrapper-16">0%</div>
                  </div>
                </div>
                <img class="rectangle" src="{% static 'sorces/Rectangle 16 (1).svg' %}" />
              </div>
              <div class="frame-21">
                <div class="text-wrapper-17">اموزش Git</div>
                <div class="overlap-5">
                  <div class="frame-19">
                    <div class="text-wrapper-15">مطالعه و یادگیری</div>
                    <img class="regular-circle" src="{% static 'sorces/fa6-regular_circle-play.svg' %}" />
                  </div>
                  <div class="overlap-group-3">
                    <div class="ellipse2"></div>
                   <div class="ellipse"></div>
                    <div class="text-wrapper-18">0%</div>
                  </div>
                </div>
                <img class="rectangle" src="{% static 'sorces/Rectangle 16 (1).svg' %}" />
              </div>
              <div class="frame-22">
                <div class="text-wrapper-17">اموزش Git</div>
                <div class="overlap-5">
                  <div class="frame-19">
                    <div class="text-wrapper-15">مطالعه و یادگیری</div>
                    <img class="regular-circle" src="{% static 'sorces/fa6-regular_circle-play.svg' %}" />
                  </div>
                  <div class="overlap-group-3">
                    <div class="ellipse2"></div>
                    <div class="ellipse"></div>
                    <div class="text-wrapper-18">0%</div>
                  </div>
                </div>
                <img class="rectangle" src="{% static 'sorces/Rectangle 16 (1).svg' %}" />
              </div>
              <div class="frame-23">
                <div class="text-wrapper-17">اموزش Git</div>
                <div class="overlap-5">
                  <div class="frame-19">
                    <div class="text-wrapper-15">مطالعه و یادگیری</div>
                    <img class="regular-circle" src="{% static 'sorces/fa6-regular_circle-play.svg' %}" />
                  </div>
                  <div class="overlap-group-3">
                    <div class="ellipse2"></div>
                    <div class="ellipse"></div>
                    <div class="text-wrapper-18">0%</div>
                  </div>
                </div>
                <img class="rectangle" src="{% static 'sorces/Rectangle 16 (1).svg' %}" />
              </div>
            </div>
          </div>
          <div class="text-wrapper-19">دوره های من</div>
          <div class="frame-24">
            <div class="text-wrapper-20">مسیر یادگیری من</div>
            <div class="text-wrapper-20">همه دوره های من</div>
          </div>
          <img class="line-2" src="" />
          <div class="frame-25">
            <div class="frame-26">
              <div class="text-wrapper-21">جدیدترین دوره ها</div>
              <img class="lucide-chevron-down" src="{% static 'sorces/Vector (1).svg' %}" />
            </div>
            <div class="frame-27">
              <div class="text-wrapper-22">نوع دوره</div>
              <img class="lucide-chevron-down-2" src="{% static 'sorces/Vector (1).svg' %}" />
            </div>
            <div class="frame-27">
              <div class="text-wrapper-23">وضعیت</div>
              <div class="lucide-chevron-down-wrapper">
                <img class="lucide-chevron-down-3" src="{% static 'sorces/Vector (1).svg' %}" />
              </div>
            </div>
          </div>
          <div class="frame-28">
            <div class="text-wrapper-14">اموزش Git</div>
            <div class="overlap-5">
              <div class="frame-19">
                <div class="text-wrapper-15">مطالعه و یادگیری</div>
                <img class="regular-circle" src="{% static 'sorces/fa6-regular_circle-play.svg' %}" />
              </div>
              <div class="overlap-group-3">
                <div class="ellipse2"></div>
                <div class="ellipse"></div>
                <div class="text-wrapper-16">0%</div>
              </div>
            </div>
            <img class="rectangle" src="{% static 'sorces/Rectangle 16 (1).svg' %}" />
          </div>
        </div>
      </div>
    </div>
 <script src="{% static 'js/logout.js' %}"></script>

  </body>
   
</html>
