<% load static %>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8" />
    <link rel="stylesheet" href="{% static 'css/globalreg2.css' %}" />
    <link rel="stylesheet" href="{% static 'css/styleguidereg2.css' %}" />
    <link rel="stylesheet" href="{% static 'css/Registration Home Page.css' %}" />
  </head>
  <body>
    <div class="frame">
      <div class="overlap-group">
        <img class="download" src="./image/download (1) 1.svg" />
        <img class="image" src="./image/image2 1.svg" />
        <div class="div">
          
         
          <div class="div-2">
            <div class="text-wrapper"> کد پیامک شده را وارد کنید <span class="man">:)</span></div>

          </div>

          <div class="rectangles">
            <div class="rectangle"></div>
            <div class="rectangle"></div>
            <div class="rectangle"></div>
            <div class="rectangle"></div>
            <div class="rectangle"></div>
          </div>
          <div class="div-6">
            <div class="div-wrapper-4"><div class="text-wrapper-5">ورود</div></div>
            <p class="div-7">
              <span class="span">حساب کاربری دارید؟&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;همین الان </span>
              <a class="text-wrapper-3">وارد </a>
              <span class="span"> شوید</span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
